@import "./base/base";
@import "./base/typography";


@import "./color/color";


@import "./layout/footer";
@import "./layout/form";
@import "./layout/header";


@import "./pages/about";
@import "./pages/academic";
@import "./pages/gallary";
@import "./pages/magazine";
@import "./pages/news";
@import  "./pages/notice";
@import "./pages/onlineclass";
@import "./pages/onlineaddmission.scss";