footer {
    .footer__section__1 {
        padding: 50px 0;
        background-color: $color-2;
        display: grid;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        line-height: 50px;
        h1 {
            color: $color-1;
        }
        a {
            color: #000;
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 0px;
        }
    }
    .footer__section__2 {
        .image__bg {
            padding: 10px;
            padding: 40px 0;
            background-color: #000;
            .footer-2__news {
                color: $color-2;
                font-size: 50px;
                align-self: center;
                text-align: right;
            }
            .footer-2__content {
                border-left: 2px solid $color-2;
                color: $color-2;
                font-size: 20px;
                a {
                    text-decoration: none;
                    color: $color-2;
                    font-size: 20px;   
                }
            }
        }
    }
}